In [19]:
import re

In [20]:
text = "My telephone number is 408-555-1234"

In [21]:
# If we want to search for a specific pattern (numbers)
phone = re.search(r"\d\d\d-\d\d\d-\d\d\d\d", text)

In [22]:
phone.group() # To show the mathes we use group() it returns the first match

'408-555-1234'

In [32]:
# Or Like that
phone_pattern =r'(\d{3})-(\d{3})-(\d{4})'

In [34]:
result= re.search(phone_pattern, text)
result

In [31]:
print(re.search(r'(\d{3})-(\d{3})-(\d{4})', text))

<re.Match object; span=(23, 35), match='408-555-1234'>

In [35]:
result.group()

'408-555-1234'

In [36]:
# and for spliting
result.group(1), result.group(2), result.group(3)

('408', '555', '1234')

In [38]:
re.search(r"man|woman","This man was here.")

In [39]:
re.search(r"man|woman","This woman was here")

In [40]:
# Here this regular exp with . gives one character previous
re.findall(r".at","The bat went splat")

['bat', 'lat']

In [42]:
# If we give him two points, he will deal with words with five letters
re.findall(r"...at", "The bat went splat")

['e bat', 'splat']

In [44]:
# If you want it to specify any of the unknown letters, we use \S to indicate non-space letters, with the + sign to specify
# Any number exists
re.findall(r"\S+at","The bat went splat")

['bat', 'splat']

In [45]:
# $ is also used to specify that the letters required are at the end, so if we use it with d, then what is required is the last number
re.findall(r"\d$", "This ends with a number 28")

['8']

In [46]:
# Or use ^ to indicate the beginning
re.findall(r"^\d", "1 is the loneliest number.")

['1']

In [48]:
# It is possible to perform a reverse search, that is, to search for anything other than that, by using [ ]
phrase = "There are 3 numbers 34 inside 5 this sentence."
re.findall(r"[^\d]", phrase)

['T',
 'h',
 'e',
 'r',
 'e',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 ' ',
 'n',
 'u',
 'm',
 'b',
 'e',
 'r',
 's',
 ' ',
 ' ',
 'i',
 'n',
 's',
 'i',
 'd',
 'e',
 ' ',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 's',
 'e',
 'n',
 't',
 'e',
 'n',
 'c',
 'e',
 '.']

In [50]:
re.findall(r"\d", phrase)

['3', '3', '4', '5']

In [51]:
# It can be used to remove all punctuation characters like this:
test_phrase = "This is a string! But is has punctuation. How can we remove it?"
re.findall(r"[^!.?]+", test_phrase)

['This is a string', ' But is has punctuation', ' How can we remove it']

In [57]:
clean = " ".join(re.findall(r"[^!.? ]+", test_phrase))
print(clean)

This is a string But is has punctuation How can we remove it

In [60]:
# Another example is to search for any letters w, then a dash - then letters
text = "Only find the hypen-words in this sentence. But you do not know how long-ish they are"
re.findall(r"[\w]+-[\w]+", text)

['hypen-words', 'long-ish']

In [64]:
# Same thing in arabic
text = "رقم هاتفي هو 586-986-9965"
phone = re.search(r"\d\d\d-\d\d\d-\d\d\d\d",text)
phone.group()

'586-986-9965'

In [72]:
phoene = re.search(r"\d{3}-\d{3}-\d{4}",text)
phone.group()

'586-986-9965'

In [76]:
phone_pattern =(r'(\d{3})-(\d{3})-(\d{4})') 
results = re.search(phone_pattern, text)
results.group(1), results.group(2),results.group(3)

('586', '986', '9965')

In [79]:
text1 = "ذهب محمد الي الجامعة"
text2 = "استيقظت مني من النوم"
print(re.search(r"مني|محمد",text1))
print(re.search(r"مني|محمد",text2))

<re.Match object; span=(4, 8), match='محمد'>
<re.Match object; span=(8, 11), match='مني'>

In [80]:
text1 = "ذهبت الطالبات لحضور عدد من المحاضرات في جامعتين"
re.findall(r".ات",text1)

['بات', 'رات']

In [81]:
text1 = "ذهبت الطالبات لحضور عدد من المحاضرات في جامعتين"
re.findall(r"..ات",text1)

['لبات', 'ضرات']

In [82]:
text1 = "ذهبت الطالبات لحضور عدد من المحاضرات في جامعتين"
re.findall(r"\S",text1)

['ذ',
 'ه',
 'ب',
 'ت',
 'ا',
 'ل',
 'ط',
 'ا',
 'ل',
 'ب',
 'ا',
 'ت',
 'ل',
 'ح',
 'ض',
 'و',
 'ر',
 'ع',
 'د',
 'د',
 'م',
 'ن',
 'ا',
 'ل',
 'م',
 'ح',
 'ا',
 'ض',
 'ر',
 'ا',
 'ت',
 'ف',
 'ي',
 'ج',
 'ا',
 'م',
 'ع',
 'ت',
 'ي',
 'ن']

In [83]:
phrase = "رج مسافة 50 كيلو متر من الساعة 8 الي الساعة 10"
re.findall(r'[^\d]+',phrase)

['رج مسافة ', ' كيلو متر من الساعة ', ' الي الساعة ']

In [85]:
phrase_test =' . ماذا ؟ ؟ كيف تجرؤ !! , هل تتخيل عاقبة هذا الأمر ؟ ؟ , ويل له ' 
re.findall('[^!.?]',phrase_test)

[' ',
 ' ',
 'م',
 'ا',
 'ذ',
 'ا',
 ' ',
 '؟',
 ' ',
 '؟',
 ' ',
 'ك',
 'ي',
 'ف',
 ' ',
 'ت',
 'ج',
 'ر',
 'ؤ',
 ' ',
 ' ',
 ',',
 ' ',
 'ه',
 'ل',
 ' ',
 'ت',
 'ت',
 'خ',
 'ي',
 'ل',
 ' ',
 'ع',
 'ا',
 'ق',
 'ب',
 'ة',
 ' ',
 'ه',
 'ذ',
 'ا',
 ' ',
 'ا',
 'ل',
 'أ',
 'م',
 'ر',
 ' ',
 '؟',
 ' ',
 '؟',
 ' ',
 ',',
 ' ',
 'و',
 'ي',
 'ل',
 ' ',
 'ل',
 'ه',
 ' ']

In [92]:
clean = "".join(re.findall("[^؟!.]+",phrase_test))
clean

'  ماذا   كيف تجرؤ  , هل تتخيل عاقبة هذا الأمر   , ويل له '

In [93]:
text ='ذهبت الي مدينة نيو-يورك , و منها الي سان- فرانسيسكو'
re.findall(r"[\w]+-[\w]+", text)

['نيو-يورك']